.enet-base{
  background-image: url(/src/images/etc/06_ENET/ENET_background3.jpg);
}
.enet-contents {
  background-color: rgba(0,0,0,0.2);
  color: #ffffff;
}
.enet-jacket {
	box-shadow:0px 0px 20px;
	border: solid #000000;
	border-width: 1px;
}