.embed-height {
	height: 200px;
}
.miy-contents {
  background-color: rgba(0,0,0,0.2);
  color: #ffffff;
}
.miy-jacket {
	box-shadow:0px 0px 20px;
	border: solid #000000;
	border-width: 1px;
}
.miy-background {
	background-position-y: -300px;
	background-attachment: fixed;
}
.miy-background::after {
	background-position-y: -300px;
	background-attachment: fixed;
}